{% extends "base.html" %} 
{% block bodycontent %}
        <!-- Post Content-->
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        {% for key,value in post.items %}
                        
                        {% if key == 'title' %}
                        <h3 class="section-heading h1">{{value}}  </h3>
                        {%endif%}
                        {%if key == 'subtitle' %}
                        <p>{{value}}</p>
                        {%endif%}
                        {% endfor %}

                        {% for parts in post.blogParts %}
                            {% for key,value in parts.items %}

                            {% if key == 'header' %}
                                <h3 >{{value}}  </h3>
                            {%endif%}

                            {% if key == 'textArea' %}
                                <p >{{value}}  </p>
                            {%endif%}

                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </article>
        {% endblock  %}
